.box {
    border: hidden;
    background-color: #22F4DA;
    border-radius: 30px;
    width: 1249px;
    height: 376px;
    text-align: center;
    margin-top: 73px;
    margin-left: 86px;
    padding-top: 10px;
}
